[submodule "Desafio1"]
	path = NodeJS/Desafios/Chapter1/Chapter1Ex1
	url = https://github.com/lCherS/Chapter1Ex1

[submodule "Desafio2"]
	path = NodeJS/Desafios/Chapter1/Chapter1Ex2
	url = https://github.com/lCherS/Chapter1Ex2

[submodule "Desafio3"]
	path = NodeJS/Desafios/Chapter1/Chapter1Ex3
	url = https://github.com/lCherS/Chapter1Ex3