[submodule "Desafio1"]
	path = NodeJS/Desafios/Chapter1/ignite-template-conceitos-do-nodejs
	url = https://github.com/rocketseat-education/ignite-template-conceitos-do-nodejs

[submodule "Desafio2"]
	path = NodeJS/Desafios/Chapter1/ignite-template-trabalhando-com-middlewares
	url = https://github.com/rocketseat-education/ignite-template-trabalhando-com-middlewares

[submodule "Desafio3"]
	path = NodeJS/Desafios/Chapter1/ignite-template-corrigindo-o-codigo
	url = https://github.com/rocketseat-education/ignite-template-corrigindo-o-codigo